.container {
  width: 80%;
  margin: 0 auto;
}

.content-books {
  display: flex;
  flex-wrap: wrap;
}

.card-book {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #FFF;
  border-radius: 10px;
  align-items: center;
}

.card-book:hover {
  box-shadow: 0 8px 16px 0 rgba(11, 26, 114, 0.2);
}

.card-book img {
  width: 180px;
}

.card-book button {
  border: 0;
  background-color: #0B1A72;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  margin: 5px;
}

.card-book-title {
  color: #333;
  font-size: 18px;
  margin: 5px 0;
}

.card-book-price {
  color: #0B1A72;
  font-size: 16px;
  margin: 5px 0;
}

.header-container {
  padding: 10px;
  background-color: #0B1A72;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}